<app-header></app-header>
<div class="page-body">
    <div class="title-wrapper">
        <div class="title">Hi, There</div>
        <div class="subtitle">Let's Learn Something New</div>
    </div>
    <div class="card-drawer">
        <div routerLink='/quiz' class="card">
            <div>Generate Quizzes for any topic</div>
            <div class="quiz icon"></div>
        </div>
        <div routerLink='/essay' class="card">
            <div>Help write an essay for school</div>
            <div class="essay icon"></div>
        </div>
        <div routerLink="/notes" class="card">
            <div>Create notes from study material</div>
            <div class="notes icon"></div>
        </div>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->