<app-header></app-header>
<div class="page-body">
    <div class="title-wrapper">
        <div class="title">Hi, There</div>
        <div class="subtitle">Let's Learn Something New</div>
    </div>
    <div class="card-drawer">
        <div routerLink='/quiz' (click)="route(1)" class="card">
            <div>Generate Quizzes for any topic</div>
            <div class="quiz icon"></div>
        </div>
        <div routerLink='/essay'(click)="route(2)" class="card">
            <div>Help write an essay for school</div>
            <div class="essay icon"></div>
        </div>
        <div routerLink="/notes" (click)="route(3)" class="card">
            <div>Create notes from study material</div>
            <div class="notes icon"></div>
        </div>
    </div>
</div>

    <!-- <link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css"> -->
    <!-- <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script> -->
    <df-messenger
    project-id="brave-monitor-420011"
    agent-id="ea85624b-9f4e-4d7a-84e2-4fde2bf04857"
    language-code="en"
    max-query-length="-1">
    <df-messenger-chat-bubble
     chat-title="">
    </df-messenger-chat-bubble>
  </df-messenger>
  <style>
    df-messenger {
      z-index: 999;
      position: fixed;
      --df-messenger-font-color: #000;
      --df-messenger-font-family: Google Sans;
      --df-messenger-chat-background: #f3f6fc;
      --df-messenger-message-user-background: #d3e3fd;
      --df-messenger-message-bot-background: #fff;
      bottom: 16px;
      right: 16px;
    }
  </style>

<!-- <router-outlet></router-outlet> -->