<app-header></app-header>
<div class="page-body">
    <div class="topic-input">
        <div class="input-wrapper">
            <div class="input-container">
                <div class="label">Topic</div>
                <input [(ngModel)]="topic.text" placeholder="Enter a topic here"/>
            </div>
            <div class="input-container">
                <div class="label">Number of Questions</div>
                <input type="number" [(ngModel)]="topic.qno" placeholder="Enter number of questions here"/>
            </div>
            <div class="input-container">
                <div class="label">Difficulty Level</div>
                <div class="diff-drawer">
                    <div class="diff-opt" [ngClass]="{'selected':topic.difficulty==0}" (click)="setDifficulty(0)">Easy</div>
                    <div class="diff-opt" [ngClass]="{'selected':topic.difficulty==1}" (click)="setDifficulty(1)">Medium</div>
                    <div class="diff-opt" [ngClass]="{'selected':topic.difficulty==2}" (click)="setDifficulty(2)">Hard</div>
                </div>
            </div>
            <div class="button-drawer">
                <div class='clear button' title="Clear Input" (click)="topic.text='';topic.qno=''"></div>
                <div class='submit button' [ngClass]="{'disabled':!contentReady||topic.text.trim()==''||topic.qno<=0}" title="Generate Quiz" (click)="generateQuiz()"></div>
            </div>
        </div>
    </div>

    <div *ngIf="!questionReady" class="quiz-container empty">
        <div *ngIf="contentReady">Test your knowledge by entering a topic and number of questions.</div>
        <div class="loader" *ngIf="!contentReady"></div>
    </div>

    <div *ngIf="questionReady" class="quiz-container">
        <div *ngIf="!quizStarted" class="start" (click)="progressQuiz(1)">Start Quiz</div>
        <div *ngIf="quizStarted&&focusQno>-1" class="question-wrapper">
            <div class="question">{{quizData[focusQno].question}}</div>
            <div class="option" (click)="optionSelect('a')" [ngClass]="{'selected':quizData[focusQno].a.checked}"><input type="checkbox"
                    [(ngModel)]="quizData[focusQno].a.checked" />a. {{quizData[focusQno].a.text}}</div>
            <div class="option" (click)="optionSelect('b')" [ngClass]="{'selected':quizData[focusQno].b.checked}"><input type="checkbox"
                    [(ngModel)]="quizData[focusQno].b.checked" />b. {{quizData[focusQno].b.text}}</div>
            <div class="option" (click)="optionSelect('c')" [ngClass]="{'selected':quizData[focusQno].c.checked}"><input type="checkbox"
                    [(ngModel)]="quizData[focusQno].c.checked" />c. {{quizData[focusQno].c.text}}</div>
            <div class="option" (click)="optionSelect('d')" [ngClass]="{'selected':quizData[focusQno].d.checked}"><input type="checkbox"
                    [(ngModel)]="quizData[focusQno].d.checked" />d. {{quizData[focusQno].d.text}}</div>
            <div class="answer-validation">
                <div class="correct-answer" *ngIf="answerCorrect">You have chosen the correct option</div>
                <div class="wrong-answer" *ngIf="answerCorrect===false">You have chosen the wrong option. Try again.</div>
            </div>
            <div class="next" *ngIf="focusQno<topic.qno&&focusQno>-1" (click)="progressQuiz(focusQno+1)">Next</div>
            <div class="next" *ngIf="focusQno==topic.qno" (click)="progressQuiz(-1)">Finish Quiz and View Score</div>
        </div>
        <div class="score" *ngIf="focusQno==-1">Your score is {{this.quizData.rightAnswer}}/{{topic.qno}}</div>
    </div>
</div>