.input-wrapper {
    display: flex;
    align-items: center;

    input {
        height: 56px;
        width: 250px;
        border: none;
        border-radius: 28px;
        background-color: #ECE6F0;
    }

    input::placeholder {
        color: #49454F;
        font-size: 16px;
        padding-left: 15px;
    }
}

.option {
    display: flex;
    align-items: center;
}

.button {
    height: 30px !important;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.submit {
    background-color: #53d769;
    width: fit-content;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.clear {
    background-color: #fc3d39;
    width: 30px;
    display: flex;
    justify-content: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}