.input-wrapper {
    display: flex;
    align-items: center;

    input {
        height: 56px;
        width: 250px;
        border: none;
        border-radius: 28px;
        background-color: #ECE6F0;
    }

    input::placeholder {
        color: #49454F;
        font-size: 16px;
        padding-left: 15px;
    }
}

.option {
    display: flex;
    align-items: center;
}

.button {
    height: 30px !important;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.submit {
    background-color: #53d769;
    width: fit-content;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.clear {
    background-color: #fc3d39;
    width: 30px;
    display: flex;
    justify-content: center;
}