<div class="header-body">
    <div class="nav-container">
        <div class="icon" routerLink='/home' (click)="route(4)"></div>
        <div class="tab-wrapper">
            <div class="tab" [ngClass]="{'selected':routeValue=='quiz'}"  routerLink='/quiz' (click)="route(1)">Quiz</div>
            <div class="tab" [ngClass]="{'selected':routeValue=='essay'}"  routerLink='/essay' (click)="route(2)">Essay</div>
            <div class="tab" [ngClass]="{'selected':routeValue=='notes'}"  routerLink='/notes' (click)="route(3)">Notes</div>
        </div>
    </div>
    <div class="header-container">
        <div class="title" routerLink='/home' (click)="route(4)">BujiAI</div>
        <div class="banner">“Education is the most powerful weapon which you can use to change the world.” ~ Nelson Mandela</div>
    </div>
</div>
