/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.page-body {
    height: calc(100vh - 120px);
    width: calc(100vw - 90px);
    position: absolute;
    right: 0;
    bottom: 0;
}
