/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    .drop-zone {
        height: 55vh;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        cursor: pointer;
        margin: 20px;
        color: #49454F;
        font-size: 16px;
        font-weight: 500;
        background-color: #f8fafd;
        border: solid 0.5px #79747E20;
        box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16) !important;
    }

    .drop-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}

.page-body {
    height: calc(100vh - 120px);
    width: calc(100vw - 90px);
    position: absolute;
    right: 0;
    bottom: 0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}