<app-header></app-header>
<div class="page-body divider">
    <div class="essay-input-wrapper">
        <div class="label">What is your essay about?<span class="required">*</span></div>
        <input class="topic" [(ngModel)]="essayParams.topic" placeholder="What is your essay about?"/>
        <div class="label">Why are you writing the essay?</div>
        <input class="purpose"  [(ngModel)]="essayParams.purpose" placeholder="Why are you writing the essay?"/>
        <div class="label">Whose perspective are you writing the essay from?<span class="required">*</span></div>
        <input class="author" [(ngModel)]="essayParams.author" placeholder="Whose perspective are you writing the essay from?"/>
        <div class="label">Who will read this essay?</div>
        <input class="reader" [(ngModel)]="essayParams.reader" placeholder="Who will read this essay?"/>
        <div class="label">Word Limit<span class="required">*</span></div>
        <input class="word-count" [(ngModel)]="essayParams.wordcount" placeholder="Word Count" type="number"/>
        <div class="label">Tone</div>
        <input class="tone" [(ngModel)]="essayParams.tone" placeholder="Tone"/>
        <div class="label">Sample of your writing</div>
        <input class="sample" [(ngModel)]="essayParams.sample" placeholder="Sample of writing style"/>
        <div class="button-container">
            <div class='clear button' title="Clear Input" (click)="clearInput()"></div>
            <div class='submit button' [ngClass]="{'disabled':!contentReady||essayParams.topic.trim()==''||essayParams.author.trim()!=''||essayParams.wordcount<=0}" title="Generate Essay" (click)="generateEssay()"></div>
        </div>
    </div>
    <div class="essay-output-wrapper">
        <div class="output-container" #dataToExport>
            <div class="loader" *ngIf="!contentReady"></div>
            <div class="essay title">{{essayOutput?.title}}</div>
            <div class="essay body">{{essayOutput?.body}}</div>
        </div>
        <div class="export-wrapper">
            <div class="download button" (click)="downloadAsPdf()" title="Download as PDF"></div>
        </div>
    </div>
</div>