input {
    height: 56px;
    width: 500px;
    border: none;
    border-radius: 28px;
    background-color: #ECE6F0;
}

input::placeholder {
    color: #49454F;
    font-size: 16px;
    padding-left: 15px;
}

.divider {
    display: flex;
}

.essay-output-wrapper{
    width: 50vw;
}