<app-header></app-header>
<div class="page-body">
    <div class="input-wrapper">
        <div class="drop-wrapper">
            <ngx-file-drop dropZoneLabel="Drop files here" dropZoneClassName="drop-zone" contentClassName="drop-content"
                (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <div>
                        <div class="browse-text">Drop your files here</div>
                        <button class="browse-button" (click)="openFileSelector()">Browse Files</button>
                    </div>
                </ng-template>
            </ngx-file-drop>

            <div class="file-wrapper" *ngFor="let item of files; let i=index">
                <div class="file">{{ item.relativePath }}</div>
                <div class="button-drawer">
                    <div class="clear button" title="Clear file" (click)="files=[]"></div>
                    <div class="submit button" title="Submit File" [ngClass]="{'disabled':!contentReady}" (click)="generateNotes()"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="output-wrapper">
        <div class="output-container" #dataToExport>
            <div class="loader" *ngIf="!contentReady"></div>
            {{notesOutput?.notes}}
        </div>
        <div class="export-wrapper">
            <div class="download button" (click)="downloadAsPdf()" title="Download as PDF"></div>
        </div>
    </div>
</div>